.dropdown-menu {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  padding: 4px 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  list-style: none;
  margin-top: 4px;
}
